// COLORS ------
// PRIMARY
$color-primary-cyan: #0e8784; // button, country icon, selected tile
$color-primary-dark-gray-blue: #333d4b; // text, heading background
// NEUTRALS
$color-orange: #fdd6ba; // icons, how numbers
$color-light-cream-1: #fefcf7; //text, socials,background
$color-light-cream-2: #d8d8d8; // button text
$color-light-cream-3: #f4f1eb; // unselected tile background
$color-light-gray: #83888f; // nav text, headquarters heading, subsc heading
$color-gray-red: #979797; // border
