.footer {
  background-color: $color-primary-dark-gray-blue;
  margin-bottom: 8.8rem;

  &__container {
    display: flex;
    align-items: center;
    height: 120px;
    @media only screen and (min-width: 901px) and (max-width: 1070px) {
      margin-left: 4rem;
      margin-right: 4rem;
    }
    @include respond(tab-port) {
      height: 34rem;
      flex-direction: column;
      justify-content: center;
    }
    @include respond(phone) {
      height: 346px;
      justify-content: center;
    }

    & > .navigation-list {
      margin-left: 10.3rem;
      @media only screen and (min-width: 901px) and (max-width: 1070px) {
        margin-left: 6rem;
      }
      @include respond(tab-port) {
        margin-left: initial;
        margin-bottom: 6.5rem;
      }
      @include respond(phone) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__item > a {
        @include respond(tab-port) {
          font-size: 1.2rem;
        }
        @include respond(phone) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }
  &__logo {
    align-self: center;
    transform: translateY(-3px);

    @include respond(tab-port) {
      margin-bottom: 2.3rem;
    }
    @include respond(phone) {
      margin-bottom: 4.8rem;
    }
  }
}
.footer-navigation__link {
  @include respond(tab-port) {
    font-size: 12px;
  }
}

.social {
  justify-self: right;
  margin-left: auto;

  @include respond(tab-port) {
    justify-self: initial;
    margin-left: initial;
  }

  & > svg:hover {
    cursor: pointer;
    & > path {
      fill: $color-orange;
    }
  }

  & > *:not(:last-child) {
    margin-right: 2.4rem;
  }
}
.footer-navigation:hover {
  color: $color-light-cream-1;
}
