.footer {
  background-color: $color-primary-dark-gray-blue;
  margin-bottom: 8.8rem;

  &__container {
    display: flex;
    align-items: center;
    height: 120px;

    & > .navigation-list {
      margin-left: 10.3rem;
    }
  }
  &__logo {
    align-self: center;
    transform: translateY(-3px);
  }
}

.social {
  justify-self: right;
  margin-left: auto;

  & > svg:hover {
    cursor: pointer;
    & > path {
      fill: $color-orange;
    }
  }

  & > *:not(:last-child) {
    margin-right: 2.4rem;
  }
}
.footer-navigation:hover {
  color: $color-light-cream-1;
}
