.btn-plan {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: $color-light-cream-1;
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
  background-color: $color-primary-cyan;
  &:hover {
    background-color: #66d2cf;
  }
}
