.form-container {
  position: relative;
}
.form-columns {
  display: flex;
}
.form-question {
  margin-bottom: 8.8rem;

  .heading-secondary {
    white-space: nowrap;
    color: $color-light-gray;
  }
}
.question-disabled {
  color: $color-light-cream-2 !important;
}
.btn-disabled > svg path {
  fill: $color-light-cream-2 !important;
}
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.6rem;
}
.btn-accordion {
  width: 4.5rem;
  height: 4.8rem;
  align-self: center;
}
.isRotated svg {
  transform: rotate(180deg);
}
.input-container {
  display: flex;
  // margin-bottom: 8.8rem;
  flex-grow: 1;

  & > *:not(:last-child) {
    margin-right: 2.3rem;
  }
}
.form-check {
  position: relative;
  height: 25rem;
  width: 22.8rem;
  border-radius: 8px;
  background-color: $color-light-cream-3;

  &:hover {
    background-color: #fdd6ba;
    border-radius: 8px;
  }

  .heading-quaternary {
    color: $color-primary-dark-gray-blue;
    margin: 3.2rem 0 2.4rem 2.8rem;
    position: relative;
  }
  .text-dark {
    margin-left: 2.8rem;
    position: relative;
  }
  label {
    position: absolute;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
  .form-check-input {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.base-input {
  &:checked ~ .form-check-input {
    background-color: $color-primary-cyan;
    border-radius: 8px;
  }
  &:checked ~ .heading-quaternary {
    color: white;
  }
  &:checked ~ .text-dark {
    color: white;
  }
}
.btn-form {
  position: absolute;
  right: 0;
  width: 217px !important;
  height: 56px !important;
  font-size: 1.8rem !important;
  font-family: 'Fraunces', serif !important;
  font-weight: 900 !important;
  color: $color-light-cream-1 !important;
}
