.form-container {
  position: relative;

  @include respond(tab-port) {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
    margin-bottom: 200px !important;
  }
  @media only screen and (min-width: 901px) and (max-width: 1300px) {
    margin-left: 8rem !important;
  }
  @media only screen and (min-width: 901px) and (max-width: 1300px) {
    margin-left: 16.5rem !important;
  }
  @include respond(phone) {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
  }
}
.form-columns {
  display: flex;

  @include respond(tab-port) {
    display: initial;
  }
}
.form-group {
  position: relative;
}
.form-question {
  margin-bottom: 8.8rem;

  .heading-secondary {
    white-space: nowrap;
    color: $color-light-gray;

    @include respond(phone) {
      white-space: initial;
      font-size: 24px;
      width: 70%;
      line-height: 28px;
    }
  }
}
.question-disabled {
  color: $color-light-cream-2 !important;
}
.btn-disabled > svg path {
  fill: $color-light-cream-2 !important;
}
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.6rem;

  @media only screen and (min-width: 1500px) {
    width: 90rem;
  }
}
.btn-accordion {
  width: 4.5rem;
  height: 4.8rem;
  align-self: center;
}
.isRotated svg {
  transform: rotate(180deg);
}
.input-container {
  display: flex;

  @include respond(tab-port) {
    width: 100%;
  }
  @include respond(phone) {
    flex-direction: column;
  }

  & > *:not(:last-child) {
    margin-right: 2.3rem;
  }
}
.form-check {
  position: relative;
  height: 25rem;
  width: 22.8rem;
  border-radius: 8px;
  background-color: $color-light-cream-3;

  @media only screen and (min-width: 901px) and (max-width: 1300px) {
    width: 100%;
  }
  @include respond(tab-port) {
    min-width: 21rem;
    max-width: 26rem;
    flex-grow: 1;
  }

  @include respond(phone) {
    width: 100%;
    height: 140px;
    margin-bottom: 1.6rem;
    min-width: initial;
    max-width: initial;
    flex-grow: initial;
  }

  @media only screen and (min-width: 601px) {
    &:hover {
      background-color: #fdd6ba;
      border-radius: 8px;
    }
  }

  .heading-quaternary {
    color: $color-primary-dark-gray-blue;
    margin: 3.2rem 0 2.4rem 2.8rem;
    position: relative;

    @include respond(phone) {
      font-size: 24px;
    }
  }
  .text-dark {
    margin-left: 2.8rem;
    position: relative;

    @include respond(phone) {
      font-size: 16px;
      line-height: 26px;
    }
  }
  label {
    position: absolute;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
  .form-check-input {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.base-input {
  &:checked ~ .form-check-input {
    background-color: $color-primary-cyan;
    border-radius: 8px;
  }
  &:checked ~ .heading-quaternary {
    color: white;
  }
  &:checked ~ .text-dark {
    color: white;
  }
}
.btn-form {
  font-family: 'Fraunces', serif;
  font-size: 1.8rem;
  color: $color-light-cream-1;
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 217px;
  height: 56px;
  font-weight: 900;
  background-color: $color-primary-cyan;

  @include respond(tab-port) {
    left: 50%;
    transform: translateX(-50%);
  }
  &--incomplete {
    background-color: $color-light-cream-2;
  }
}
