.process {
  @include respond(tab-port) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 7rem !important;
    transform: translateY(-12rem);
  }
  &__container {
    padding-top: 10rem;
  }
  &__items {
    padding-bottom: 10rem;
    @include respond(tab-port) {
      padding-bottom: 4.4rem;
    }
  }
  &__line {
    width: calc(110%);
    height: 2px;
    background-color: $color-orange;
    top: 0;
    left: 15px;
    position: absolute;
    transform: translateY(-50%);
    border: none;
  }
  &__header {
    .heading-quaternary {
      color: $color-gray-red !important;
      margin-bottom: 8rem;
      margin-left: 4rem;
      transform: translateY(-12rem);
    }
  }
}
.process-item {
  position: relative;
  padding-top: 6.7rem;

  & > .heading-primary {
    margin-bottom: 3.8rem;
  }
  & > .heading-secondary {
    margin-bottom: 4.2rem;

    @include respond(tab-port) {
      font-size: 2.8rem;
      line-height: 32px;
    }
  }
  & > .text-dark,
  .text-light {
    width: 75%;
  }
  @include processCircle(light);

  &--dark {
    @include processCircle(dark);
  }
}
.bg-dark {
  @include bgDark;
}
