.process {
  &__container {
    padding-top: 10rem;
  }
  &__items {
    padding-bottom: 10rem;
  }
  &__line {
    width: calc(100% - 15px);
    height: 2px;
    background-color: $color-orange;
    top: 0;
    left: 15px;
    position: absolute;
    transform: translateY(-50%);
    border: none;
  }
  &__header {
    .heading-quaternary {
      color: $color-gray-red !important;
      margin-bottom: 8rem;
    }
  }
}
.process-item {
  position: relative;
  padding-top: 6.7rem;
  margin-right: -56px;

  & > .heading-primary {
    margin-bottom: 3.8rem;
  }
  & > .heading-secondary {
    margin-bottom: 4.2rem;
  }
  & > .text-dark,
  .text-light {
    width: 75%;
  }
  @include processCircle(light);

  &--dark {
    @include processCircle(dark);
  }
}
.bg-dark {
  @include bgDark;
}
