.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 1000;
}
.submit-modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  background-color: #fefcf7;
  border: none;
  border-radius: 12px;

  @include respond(phone) {
    width: 90%;
  }

  &__container {
    padding: 6.3rem 5.6rem 5.6rem 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      padding: 4rem 2.4rem 2.4rem 2.4rem;
    }
  }
}
.submit-modal {
  &__heading {
    color: #fefcf7 !important;
    font-size: 4rem !important;
    padding-top: 4.8rem;
    padding-left: 5.8rem;
    padding-bottom: 4.8rem;
    @include bgDark;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

    @include respond(phone) {
      padding-left: 2.4rem;
    }
    @media only screen and (max-height: 660px) {
      font-size: 3.7rem !important;
    }
  }
  &__summary {
    color: $color-light-gray !important;
    line-height: 40px !important;
    font-size: 24px !important;

    @media only screen and (max-height: 660px) {
      font-size: 20px !important;
      line-height: 30px !important;
    }
  }
  &__text {
    color: $color-primary-dark-gray-blue;
    margin-top: 7px;
    margin-bottom: 4.7rem;

    @include respond(phone) {
      font-size: 15px;
      line-height: 25px;
    }
  }
  &__price-container {
    display: flex;
    align-items: center;

    @include respond(phone) {
      display: none;
    }

    &--mobile {
      display: none;

      @include respond(phone) {
        display: initial;
        width: 100%;
      }
    }
  }
}
.submit-modal-btn {
  padding: 1.6rem 5.4rem 1.6rem 5.4rem !important;

  &--mobile {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.submit-modal-price {
  color: $color-primary-dark-gray-blue !important;
  margin-right: 1.6rem;
}
