// Hero Section
.hero-about {
  background-image: url(../../src/assets/about/desktop/image-hero-whitecup.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(phone) {
    background-position: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45rem;

    & > .text-light {
      width: 40%;
      margin-top: 2.4rem;

      @include respond(tab-port) {
        width: 60%;
      }
      @include respond(phone) {
        width: initial;
        text-align: center;
        line-height: 25px;
        font-size: 15px;
      }
    }
    & > .heading-secondary {
      @include respond(phone) {
        text-align: center;
      }
    }
  }
}
// Commitment Section
.commitment {
  display: flex;

  @include respond(tab-port) {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 35rem;
  }
  @include respond(phone) {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    flex-direction: column;
    margin-bottom: 23rem;
  }

  & > img {
    margin-right: 12.5rem;

    @include respond(tab-port) {
      margin-right: 7rem;
      width: 281px;
      height: 470px;
      object-fit: cover;
    }
    @include respond(phone) {
      width: 100%;
      height: initial;
      margin-bottom: 4.8rem;
    }
  }
  &__text {
    align-self: center;
    width: 50%;

    @include respond(tab-port) {
      width: initial;
      align-self: initial;
      font-size: 15px;
      line-height: 25px;
    }
    @include respond(phone) {
      text-align: center;
    }
    & > .heading-secondary {
      color: $color-primary-dark-gray-blue;
      margin-bottom: 3.2rem;
    }
  }
}
// Quality section
.quality {
  @include bgDark;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 8.8rem;
    height: 474px;

    @include respond(tab-port) {
      flex-direction: column-reverse;
      justify-content: initial;
      align-items: center;
      transform: translateY(-15%);
    }
    @include respond(phone) {
      height: 509px;
      transform: translateY(-7%);
    }

    & > img {
      width: 445px;
      height: 474px;

      @include respond(tab-port) {
        width: 570px;
        height: 330px;
        margin-bottom: 6.4rem;
        object-fit: cover;
        object-position: bottom;
      }
      @include respond(phone) {
        width: 279px;
        height: 156px;
      }
    }
  }
  &__text {
    width: 50%;

    @include respond(tab-port) {
      text-align: center;
      width: 80%;
    }
    @include respond(phone) {
      width: 100%;
    }
    & > .heading-secondary {
      margin-bottom: 3.2rem;

      @include respond(tab-port) {
        white-space: nowrap;
      }
      @include respond(phone) {
        white-space: initial;
        font-size: 3.3rem;
      }
    }
    & > .text-light {
      @include respond(tab-port) {
        line-height: 25px;
        font-size: 15px;
      }
    }
  }
}
// Locations section

.location {
  @include respond(phone) {
    margin: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
  }
  & > .heading-quaternary {
    color: $color-gray-red;
    margin-bottom: 7.2rem;

    @include respond(phone) {
      white-space: nowrap;
      font-size: 24px;
    }
  }
  &__item {
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & > img {
      margin-bottom: 4.6rem;

      @include respond(phone) {
      }
    }
    & > .heading-tertiary {
      margin-bottom: 2.4rem;
    }
    & > .text-dark {
      text-align: center;
      font-size: 16px;
      line-height: 26px;
    }
  }
  & > .grid-3 {
    @include respond(phone) {
      gap: 8rem;
    }
  }
}
