// Hero section
.hero-container {
  background: url(../../src/assets/home/desktop/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  @include respond(tab-port) {
    background-position: center;
    height: 400px;
  }
  @include respond(phone) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../src/assets/home/desktop/image-hero-coffeepress.jpg);
    background-position: 70% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
}
.hero {
  height: 100%;
  padding-top: 13rem;

  @include respond(tab-port) {
    padding-top: 8rem;
    margin-left: 5.8rem;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: initial;
    margin: initial;
  }

  & > .heading-primary {
    width: 50%;
    margin-bottom: 3.2rem;
    white-space: nowrap;

    @include respond(tab-port) {
      font-size: 4.8rem;
      line-height: 48px;
      margin-bottom: 2.4rem;
    }
    @include respond(phone) {
      width: initial;
      text-align: center;
      line-height: 40px;
    }
  }
  & > .text-light {
    width: 36%;
    margin-bottom: 7rem;

    @include respond(tab-port) {
      width: 60%;
      margin-bottom: 7rem;
    }
    @include respond(phone) {
      width: 90%;
      text-align: center;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
.home-btn {
  background-color: $color-primary-cyan;

  &:hover {
    background-color: #66d2cf;
  }
}
// Products
.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .heading-large {
    padding: 2rem;
    background: linear-gradient(
      to top,
      rgba(241, 239, 236, 0.7),
      rgba(208, 208, 208, 1)
    );
    white-space: nowrap;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (min-width: 901px) and (max-width: 1050px) {
      font-size: 12rem;
    }
    @include respond(tab-port) {
      font-size: 9.6rem;
    }

    @include respond(phone) {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
  }
}
.product-container {
  display: flex;
  transform: translateY(-15px);

  @include respond(tab-port) {
    flex-direction: column;
    transform: translateY(-30px);
  }
  @include respond(phone) {
    transform: initial;
  }
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: initial;
    margin-bottom: 3.2rem;
  }
  @include respond(phone) {
    flex-direction: column;
  }

  &__text {
    @include respond(tab-port) {
      width: 28.2rem;
      transform: translateY(-2rem);
    }
    & > .heading-quaternary {
      text-align: center;

      @include respond(tab-port) {
        text-align: initial;
        margin-bottom: 2.4rem;
      }
      @include respond(phone) {
        text-align: center;
        font-size: 24px;
      }
    }
    & > .text-dark {
      text-align: center;
      width: 90%;

      @include respond(tab-port) {
        text-align: initial;
        width: initial;
      }
      @include respond(phone) {
        text-align: center;
      }
    }
  }

  &__img {
    transform: translateX(10px);
    margin-bottom: 7.2rem;
    width: 234px;
    height: 177px;

    @include respond(tab-port) {
      margin-bottom: initial;
      margin-right: 3rem;
    }
    @include respond(phone) {
      width: 200px;
      height: 151px;
      margin-bottom: 2.4rem;
      transform: translateX(25px);
    }
  }
}

// Features section
.features {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 57.7rem;
    padding-top: 10rem;

    @include bgDark;

    @include respond(tab-port) {
      padding-top: 5.6rem;
    }
    @include respond(phone) {
      height: 90rem;
    }

    & > .heading-secondary {
      margin-bottom: 3.2rem;

      @include respond(phone) {
        font-size: 2.8rem;
      }
    }
    & > .text-light {
      text-align: center;
      width: 50%;

      @include respond(tab-port) {
        width: 85%;
      }
    }
  }
  &__card-container {
    transform: translateY(-60%);

    @media screen and (min-width: 900px) and (max-width: 1000px) {
      gap: 2.5rem !important;
      margin-left: 5rem;
      margin-right: 5rem;
    }
    @include respond(tab-port) {
      margin-left: 5.7rem;
      margin-right: 5.7rem;
      display: flex;
      flex-direction: column;
      transform: translateY(-50%);
    }
    @include respond(phone) {
      margin-left: inherit;
      margin-right: inherit;
      transform: translateY(-48%);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-primary-cyan;
  height: 38rem;

  @include respond(tab-port) {
    flex-direction: initial;
    height: 18rem;
    justify-content: initial;
  }
  @include respond(phone) {
    height: 38rem;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
      align-items: initial;
    }
    @include respond(phone) {
      align-items: center;
    }
    & > .text-light {
      margin-top: 2.4rem;
      text-align: center;
      width: 70%;

      @include respond(tab-port) {
        text-align: initial;
        width: 80%;
      }
      @include respond(phone) {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  & > img {
    margin-bottom: 5.6rem;

    @include respond(tab-port) {
      margin-bottom: initial;
      margin-right: 5.5rem;
      margin-left: 7rem;
      height: 5.6rem;
    }
    @include respond(phone) {
      margin-left: initial;
      margin-right: initial;
      margin-bottom: 5.6rem;
    }
    @include respond(phone) {
      height: 7.2rem;
    }
  }
}
