// Hero
.hero-plan {
  height: 45rem;
  background-image: url(../../src/assets/plan/desktop/image-hero-blackcup.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-light {
    margin-top: 3.2rem;
    width: 50%;
  }
}
